
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    
}

.row{
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

/* Navigation Bar */

#nav{
    background-color:black;
    color: white;
    /* padding: 40px; */
}

.nav__img{
    width: 150px;
    padding-top: 16px;
}

.nav__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__options{
    display: flex;
    font-size: 20px;
}

.nav__link--list{
    margin: 0px 32px;
}

.nav__title{
    font-size: 32px;
    margin-top: 40px;
    text-align: center;
}

.nav__heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

.movie__searchbar--wrapper{
    position: absolute;
    padding: 24px 108px;
    border-radius: 8px;
}

.searchbar__submit{
    position: relative;
    top: 0;
    left: 120px;
}

.fa-magnifying-glass{
    color: black;
}



/* Movie List Results */

#moviesSearch{
    padding: 80px;
}


.movie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.movie__img{
    width: 100%;
    max-width: 100px;
    
}

.movie__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 120px ;
    width:33.3%;
    
}